In [34]:
print("Hello")

Hello

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv(r"E:\elevatetrsest\dataset\price_wheat_daily.csv")

In [37]:
df.head()

,date,district_id,district_name,commodity_name,state_name,avg_modal_price,avg_min_price,avg_max_price,calculationType,change
0,2025-03-07,497,Nandurbar,Wheat,Maharashtra,2673.0,2525.5,2716.00,Daily,100.5
1,2025-03-06,497,Nandurbar,Wheat,Maharashtra,2572.5,2470.0,2710.50,Daily,-61.5
2,2025-03-05,497,Nandurbar,Wheat,Maharashtra,2634.0,2500.0,2740.00,Daily,147.5
3,2025-03-04,497,Nandurbar,Wheat,Maharashtra,2486.5,2390.5,2628.75,Daily,-238.5
4,2025-03-03,497,Nandurbar,Wheat,Maharashtra,2725.0,2492.0,2778.00,Daily,-31.5

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30501 entries, 0 to 30500
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             30501 non-null  object
 1   district_id      30501 non-null  int64
 2   district_name    30501 non-null  object
 3   commodity_name   30501 non-null  object
 4   state_name       30501 non-null  object
 5   avg_modal_price  30501 non-null  float64
 6   avg_min_price    30501 non-null  float64
 7   avg_max_price    30501 non-null  float64
 8   calculationType  30501 non-null  object
 9   change           30470 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 2.3+ MB

In [39]:

df['date_n'] = pd.to_datetime(df['date']).dt.day
df['month'] = pd.to_datetime(df['date']).dt.month
df['year'] = pd.to_datetime(df['date']).dt.year

df.drop('date', axis=1, inplace=True)
df['date'] = df['date_n']
df.drop('date_n', axis=1, inplace=True)

filling null values

In [40]:
 df.fillna('interpolate' , inplace=True)

C:\Users\Shiva\AppData\Local\Temp\ipykernel_541760\2572123431.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'interpolate' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('interpolate' , inplace=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30501 entries, 0 to 30500
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   district_id      30501 non-null  int64
 1   district_name    30501 non-null  object
 2   commodity_name   30501 non-null  object
 3   state_name       30501 non-null  object
 4   avg_modal_price  30501 non-null  float64
 5   avg_min_price    30501 non-null  float64
 6   avg_max_price    30501 non-null  float64
 7   calculationType  30501 non-null  object
 8   change           30501 non-null  object
 9   month            30501 non-null  int32
 10  year             30501 non-null  int32
 11  date             30501 non-null  int32
dtypes: float64(3), int32(3), int64(1), object(5)
memory usage: 2.4+ MB

frequency encoding

removing unwanted columns

In [42]:
columns = ['district_name' , 'commodity_name' , 'state_name']

for col in columns:
    frequency_encoding = df[col].value_counts()
    df[f'{col}_enc'] = df[col].map(frequency_encoding)

df.drop(columns=columns , axis=1 , inplace=True)
df.drop(columns=['calculationType' , 'district_id' , 'change'] , axis=1 , inplace=True)

In [43]:
df.head()

,avg_modal_price,avg_min_price,avg_max_price,month,year,date,district_name_enc,commodity_name_enc,state_name_enc
0,2673.0,2525.5,2716.00,3,2025,7,981,30501,30501
1,2572.5,2470.0,2710.50,3,2025,6,981,30501,30501
2,2634.0,2500.0,2740.00,3,2025,5,981,30501,30501
3,2486.5,2390.5,2628.75,3,2025,4,981,30501,30501
4,2725.0,2492.0,2778.00,3,2025,3,981,30501,30501

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30501 entries, 0 to 30500
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   avg_modal_price     30501 non-null  float64
 1   avg_min_price       30501 non-null  float64
 2   avg_max_price       30501 non-null  float64
 3   month               30501 non-null  int32
 4   year                30501 non-null  int32
 5   date                30501 non-null  int32
 6   district_name_enc   30501 non-null  int64
 7   commodity_name_enc  30501 non-null  int64
 8   state_name_enc      30501 non-null  int64
dtypes: float64(3), int32(3), int64(3)
memory usage: 1.7 MB

strategy to tackle the following problem