In [11]:
import pandas as pd

In [21]:
df = pd.read_csv(r"E:\elevatetrsest\crop price predictor\Crop_price_Prediction\data\wheat_nashik_price_data.csv")

In [22]:
df.head()

,date,district_id,district_name,commodity_name,state_name,avg_modal_price,avg_min_price,avg_max_price,calculationType,change
0,2023-12-30,516,Nashik,Wheat,Maharashtra,2633.75,2440.75,2775.25,Daily,51.75
1,2023-12-29,516,Nashik,Wheat,Maharashtra,2582.00,2382.67,2977.33,Daily,-116.50
2,2023-12-28,516,Nashik,Wheat,Maharashtra,2698.50,2474.50,2905.83,Daily,98.30
3,2023-12-27,516,Nashik,Wheat,Maharashtra,2600.20,2396.20,2926.40,Daily,-76.55
4,2023-12-26,516,Nashik,Wheat,Maharashtra,2676.75,2457.75,2894.00,Daily,-128.25

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6294 entries, 0 to 6293
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             6294 non-null   object
 1   district_id      6294 non-null   int64
 2   district_name    6294 non-null   object
 3   commodity_name   6294 non-null   object
 4   state_name       6294 non-null   object
 5   avg_modal_price  6292 non-null   float64
 6   avg_min_price    6294 non-null   float64
 7   avg_max_price    6294 non-null   float64
 8   calculationType  6294 non-null   object
 9   change           6293 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 491.8+ KB

In [24]:
df= df.dropna()

In [25]:

df['date_n'] = pd.to_datetime(df['date']).dt.day
df['month'] = pd.to_datetime(df['date']).dt.month
df['year'] = pd.to_datetime(df['date']).dt.year

df.drop('date', axis=1, inplace=True)
df['date'] = df['date_n']
df.drop('date_n', axis=1, inplace=True)

In [26]:
 df.fillna('interpolate' , inplace=True)

In [27]:
columns = ['district_name' , 'commodity_name' , 'state_name']

for col in columns:
    frequency_encoding = df[col].value_counts()
    df[f'{col}_enc'] = df[col].map(frequency_encoding)

df.drop(columns=columns , axis=1 , inplace=True)
df.drop(columns=['calculationType' , 'district_id' , 'change'] , axis=1 , inplace=True)

In [28]:
import pandas as pd

def remove_outliers_iqr(df):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1
    return df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]


df = remove_outliers_iqr(df)

df.head()

,avg_modal_price,avg_min_price,avg_max_price,month,year,date,district_name_enc,commodity_name_enc,state_name_enc
0,2633.75,2440.75,2775.25,12,2023,30,6291,6291,6291
1,2582.00,2382.67,2977.33,12,2023,29,6291,6291,6291
2,2698.50,2474.50,2905.83,12,2023,28,6291,6291,6291
3,2600.20,2396.20,2926.40,12,2023,27,6291,6291,6291
4,2676.75,2457.75,2894.00,12,2023,26,6291,6291,6291

In [20]:
df.to_csv('edited_nashik_test_2024.csv')