In [32]:
import pandas as pd

In [33]:
df = pd.read_csv(r"E:\elevatetrsest\crop price predictor\Crop_price_Prediction\data\wheat_price_nashik(2024).csv")

In [34]:
df.head()

,date,district_id,district_name,commodity_name,state_name,avg_modal_price,avg_min_price,avg_max_price,calculationType,change
0,2024-12-31,516,Nashik,Wheat,Maharashtra,2995.25,2781.00,3216.50,Daily,156.65
1,2024-12-30,516,Nashik,Wheat,Maharashtra,2838.60,2705.00,2938.20,Daily,-97.40
2,2024-12-28,516,Nashik,Wheat,Maharashtra,2936.00,2368.50,3116.00,Daily,145.67
3,2024-12-27,516,Nashik,Wheat,Maharashtra,2790.33,2690.33,2993.33,Daily,-182.87
4,2024-12-26,516,Nashik,Wheat,Maharashtra,2973.20,2735.80,3100.60,Daily,152.20

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             283 non-null    object
 1   district_id      283 non-null    int64
 2   district_name    283 non-null    object
 3   commodity_name   283 non-null    object
 4   state_name       283 non-null    object
 5   avg_modal_price  283 non-null    float64
 6   avg_min_price    283 non-null    float64
 7   avg_max_price    283 non-null    float64
 8   calculationType  283 non-null    object
 9   change           282 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 22.2+ KB

In [36]:
df= df.dropna()

In [37]:

df['date_n'] = pd.to_datetime(df['date']).dt.day
df['month'] = pd.to_datetime(df['date']).dt.month
df['year'] = pd.to_datetime(df['date']).dt.year

df.drop('date', axis=1, inplace=True)
df['date'] = df['date_n']
df.drop('date_n', axis=1, inplace=True)

In [38]:
 df.fillna('interpolate' , inplace=True)

In [45]:
# columns = ['district_name' , 'commodity_name' , 'state_name']

# for col in columns:
#     frequency_encoding = df[col].value_counts()
#     df[f'{col}_enc'] = df[col].map(frequency_encoding)

# df.drop(columns=columns , axis=1 , inplace=True)
df.drop(columns=['calculationType' , 'district_id' , 'change'] , axis=1 , inplace=True)

In [41]:
df['commodity_name'] = df['commodity_name'].replace({"Wheat": 6291}).astype(int)
df['district_name'] = df['district_name'].replace({"Nashik": 6291}).astype(int)
df['state_name'] = df['state_name'].replace({"Maharashtra": 6291}).astype(int)

C:\Users\Shiva\AppData\Local\Temp\ipykernel_7956\687945468.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['district_name'] = df['district_name'].replace({"Nashik": 6291}).astype(int)
C:\Users\Shiva\AppData\Local\Temp\ipykernel_7956\687945468.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['state_name'] = df['state_name'].replace({"Maharashtra": 6291}).astype(int)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 282 entries, 0 to 281
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   district_name    282 non-null    int64
 1   commodity_name   282 non-null    int64
 2   state_name       282 non-null    int64
 3   avg_modal_price  282 non-null    float64
 4   avg_min_price    282 non-null    float64
 5   avg_max_price    282 non-null    float64
 6   month            282 non-null    int32
 7   year             282 non-null    int32
 8   date             282 non-null    int32
dtypes: float64(3), int32(3), int64(3)
memory usage: 18.7 KB

In [47]:
import pandas as pd

def remove_outliers_iqr(df):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1
    return df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]


df = remove_outliers_iqr(df)

df.head()

,district_name,commodity_name,state_name,avg_modal_price,avg_min_price,avg_max_price,month,year,date
0,6291,6291,6291,2995.25,2781.00,3216.50,12,2024,31
1,6291,6291,6291,2838.60,2705.00,2938.20,12,2024,30
2,6291,6291,6291,2936.00,2368.50,3116.00,12,2024,28
3,6291,6291,6291,2790.33,2690.33,2993.33,12,2024,27
4,6291,6291,6291,2973.20,2735.80,3100.60,12,2024,26

In [48]:
df.to_csv('edited_nashik_test_2024.csv')