In [1]:
import pandas as pd

In [12]:
df = pd.read_csv(r"e:\elevatetrsest\crop price predictor\Crop_price_Prediction\data\wheat_price(2025).csv")

In [13]:
df.head()

,date,district_id,district_name,commodity_name,state_name,avg_modal_price,avg_min_price,avg_max_price,calculationType,change
0,2025-03-15,531,Sangli,Wheat,Maharashtra,4000.0,3500.0,4500.0,Daily,-0.0
1,2025-03-13,531,Sangli,Wheat,Maharashtra,4000.0,3500.0,4500.0,Daily,500.0
2,2025-03-12,531,Sangli,Wheat,Maharashtra,3500.0,3180.0,3830.0,Daily,80.0
3,2025-03-11,531,Sangli,Wheat,Maharashtra,3420.0,3090.0,3780.0,Daily,-580.0
4,2025-03-10,531,Sangli,Wheat,Maharashtra,4000.0,3500.0,4500.0,Daily,-0.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             1416 non-null   object
 1   district_id      1416 non-null   int64
 2   district_name    1416 non-null   object
 3   commodity_name   1416 non-null   object
 4   state_name       1416 non-null   object
 5   avg_modal_price  1416 non-null   float64
 6   avg_min_price    1416 non-null   float64
 7   avg_max_price    1416 non-null   float64
 8   calculationType  1416 non-null   object
 9   change           1389 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 110.8+ KB

In [15]:
df= df.dropna()

In [16]:

df['date_n'] = pd.to_datetime(df['date']).dt.day
df['month'] = pd.to_datetime(df['date']).dt.month
df['year'] = pd.to_datetime(df['date']).dt.year

df.drop('date', axis=1, inplace=True)
df['date'] = df['date_n']
df.drop('date_n', axis=1, inplace=True)

In [17]:
 df.fillna('interpolate' , inplace=True)

In [18]:
columns = ['district_name' , 'commodity_name' , 'state_name']

for col in columns:
    frequency_encoding = df[col].value_counts()
    df[f'{col}_enc'] = df[col].map(frequency_encoding)

df.drop(columns=columns , axis=1 , inplace=True)
df.drop(columns=['calculationType' , 'district_id' , 'change'] , axis=1 , inplace=True)

In [19]:
import pandas as pd

def remove_outliers_iqr(df):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1
    return df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]


df = remove_outliers_iqr(df)

df.head()

,avg_modal_price,avg_min_price,avg_max_price,month,year,date,district_name_enc,commodity_name_enc,state_name_enc
2,3500.0,3180.0,3830.0,3,2025,12,45,1389,1389
3,3420.0,3090.0,3780.0,3,2025,11,45,1389,1389
8,2810.0,2650.0,3000.0,3,2025,5,45,1389,1389
9,2900.0,2860.0,2960.0,3,2025,4,45,1389,1389
10,3440.0,3075.0,3720.0,2,2025,28,45,1389,1389

In [20]:
df.to_csv('test_edited_25.csv')